
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: normal;
}

html {
  a {
    text-decoration: none;
    color: inherit;
  }

  ul, ol {
    list-style-type: none;
    &::marker {
      display: none;
    }
  }
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.container {
  max-width: 70rem;
  min-width: 20rem;
  width: 100%;
  margin: 0 auto;
}