extends ../layout/main

block variables
    - let title = 'Pug';
    - let description = 'Description for Pug';
    - let pageClass = 'page';

block main
    .main.container
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ducimus itaque magnam nostrum numquam praesentium reprehenderit? Animi commodi dolores dolorum excepturi inventore odit, omnis perspiciatis placeat quibusdam, quos, recusandae veritatis.